* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* transition: var(--transition); */
}

html {
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--color);
  color: var(--text-color);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: initial;
  user-select: none;
  width: fit-content;
}

ul li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background-color: var(--third-color);
  border-radius: 1.25rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--fifth-color);
  border: 1px solid var(--third-color);
  border-radius: 1.25rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--fifth-color);
}
:focus {
  outline: none;
}

/* variables */

:root {
  --master-color: #03042a;
  --second-color: #a7c5f1;
  --third-color2: #cc8fac;
  --fourth-color: #4b4584;
  --fifth-color: #210d49;
  --hight-contrast: #140d36;
  --text-color: #f7f7f7;
  --transition: 0.35s;
}

/* :root {
  --master-color: #0a0a0c;
  --second-color: #001910;
  --third-color: #ddd;
  --fourth-color: #ff9d9d;
  --fifth-color: #795548;
  --hight-contrast: #121212;
  --text-color: #f7f7f7;
  --transition: 0.35s;
} */

/* :root {
  --master-color: #eee;
  --second-color: #001910;
  --third-color: #121212;
  --fourth-color: #101010;
  --fifth-color: #eeeeee;
  --hight-contrast: #ecebec;
  --text-color: #000000;
  --transition: 0.35s;
} */

/* variables */
/* Global variables */
.main-heading {
  width: 100%;
  user-select: none;
}
.main-heading h1 {
  font-size: 3.125rem;
  margin-inline: auto;
  color: var(--text-color);
}
@media (max-width: 47.9375rem) {
  .main-heading h1 {
    font-size: 2.5rem;
  }
}
.main-heading h1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  /* width: 3.125rem; */
  width: 70%;
  height: 0.25rem;
  background-color: var(--text-color);
  border-radius: 0.625rem;
}
.main-heading p {
  margin-inline: auto;
  letter-spacing: 0.0625rem;
  font-size: 1.125rem;
  max-width: 28.125rem;
}
@media (max-width: 47.9375rem) {
  .main-heading p {
    width: 100%;
  }
}
/* Global variables */

.page {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-color: var(--master-color);
  background-image: linear-gradient(
    176deg,
    var(--master-color) 0%,
    var(--hight-contrast) 99%
  );
  overflow-x: hidden;
}
.page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: url(images/ffflux.svg) 50% 100%; */
  background-repeat: round;
  background-size: cover;
  filter: blur(0.75rem);
  opacity: 0.35;
}

/* nav bar */

nav {
  width: 28.125rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0.625rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--third-color);
  border-radius: 1.875rem;
  z-index: 100;
  user-select: none;
  transition: var(--transition);
  box-shadow: inset 0 0 0.625rem #777, 0 0 0.3125rem var(--fifth-color);
  animation: start 0.6s ease-out 1 forwards;
}
@media (max-width: 25rem) {
  nav {
    width: 20.625rem;
    height: 2.8125rem;
  }
  nav ul {
    transform: scale(0.8);
  }
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var((--fifth-color));
  filter: blur(1.5625rem);
  z-index: -3;
}

nav ul {
  position: relative;
  display: flex;
  width: 25rem;
}

nav ul li {
  width: 5rem;
  aspect-ratio: 1/ 1;
}

nav ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

nav ul li a .icon {
  position: relative;
  display: block;
  line-height: 5.3125rem;
  font-size: 1.5rem;
  transition: var(--transition);
  text-align: center;
  color: var(--fifth-color);
  opacity: 0.8;
}

nav ul li a:hover .icon {
  color: var(--master-color);
}

nav ul li.active a .icon {
  color: var(--master-color);
  transform: translateY(-0.5rem);
  opacity: 1;
}

nav ul li a .text {
  position: absolute;
  font-weight: 600;
  font-size: 0.6rem;
  color: var(--text-color);
  text-transform: uppercase;
  transform: translateY(0);
  letter-spacing: 0.05rem;
  opacity: 0;
  z-index: 10;
}

nav ul li.active a .text {
  opacity: 1;
  transform: translateY(1rem);
}

.indicator {
  position: absolute;
  width: 5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}

.indicator::before {
  content: "";
  position: absolute;
  bottom: 0.875rem;
  height: 1rem;
  width: 80%;
  background-color: var(--master-color);
  border-radius: 0.625rem;
}

nav ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(5rem * 1));
}
nav ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(5rem * 2));
}
nav ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(5rem * 3));
}
nav ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(5rem * 4));
}

/* nav bar */

/* side-bar */

.page .side-bar {
  width: 6.25rem;
  min-height: 100vh;
  /* box-shadow: 0 0 0.625rem rgb(54, 54, 54); */
  transition: var(--transition);
}

@media (max-width: 47.9375rem) {
  .page .side-bar {
    width: 4.6875rem;
  }
}

.page .side-bar .social {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8125rem;
  min-width: 6.25rem;
}
/* .page .side-bar .social::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 200px;
  background-color: var(--text-color);
  bottom: -220px;
} */
/* .page .side-bar .social::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 200px;
  background-color: var(--text-color);
  top: -220px;
} */
@media (max-width: 47.9375rem) {
  .page .side-bar .social {
    align-items: center;
    min-width: auto;
  }
}
.page .side-bar .social a {
  position: relative;
  aspect-ratio: 1 / 1;
  border: 0.0938rem solid transparent;
  padding: 0.1875rem;
  transition: calc(var(--transition) * 0.7) linear;
  border-radius: 4px;
  min-width: 80px;
  max-height: 40px;
}

.page .side-bar .social a:hover {
  transform: translateX(-30px);
  border: 0.0938rem solid var(--text-color);
}

/* .page .side-bar .social a:first-child {
  background-color: #1877f2;
}
.page .side-bar .social a:nth-child(2) {
  background-color: #1da1f2;
}
.page .side-bar .social a:nth-child(3) {
  background-color: #e4405f;
}
.page .side-bar .social a:last-child {
  background-color: #0a66c2;
} */

.page .side-bar .social a::before {
  position: absolute;
  content: "\f060";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: 0%;
  color: var(--third-color);
  font-size: 1.25rem;
  transition: var(--transition) ease-in-out;
  scale: 0;
}

.page .side-bar .social a svg {
  transform: scale(1.2);
  min-width: 1.5rem;
  min-height: 1.5rem;
  transition: var(--transition);
}
.page .side-bar .social a:hover svg {
  transform: scale(0.9);
}
.page .side-bar .social a svg path {
  fill: var(--text-color);
  transition: calc(var(--transition) * 0.7) linear;
}

.page .side-bar .social a span {
  width: fit-content;
  height: 100%;
  position: absolute;
  background-color: var(--third-color);
  color: var(--master-color);
  padding: 3px 5px;
  min-width: 80px;
  border-radius: 4px;
  z-index: 0;
  transform: translateX(-100px);
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .side-bar .social a:hover span {
  transform: translateX(60px);
}

@media (max-width: 47.9375rem) {
  .page .side-bar .social a {
    min-width: 40px;
    scale: 0.8;
  }
  .page .side-bar .social a:hover {
    transform: translateX(-10px);
  }
  .page .side-bar .social a span {
    min-width: 55px;
    min-width: 70px;
  }
  .page .side-bar .social a:hover span {
    transform: translateX(55px);
  }
}

.page .side-bar > .space {
  min-height: 6.25rem;
}

/* side-bar */

.page .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.125rem;
}

@media (max-width: 61.9375rem) {
  .page .content {
    padding: 0.875rem 1.25rem 0;
  }
}

/* hi-sec */

.page .content .hi-sec .container {
  gap: 3.125rem;
  padding: 0 3.75rem;
  transition: var(--transition);
}

@media (min-width: 61.9375rem) {
  .page .content .hi-sec .container {
    justify-content: space-around;
    gap: 0;
  }
}
@media (max-width: 61.9375rem) {
  .page .content .hi-sec .container {
    padding: 4.625rem 1.25rem;
    flex-direction: column-reverse;
    gap: 0rem;
  }
}

.page .content .hi-sec .container .txt {
  flex: 2;
  gap: 0.9375rem;
}
@media (max-width: 61.9375rem) {
  .page .content .hi-sec .container .txt {
    min-width: 100%;
    padding: 3.125rem 0rem;
  }
}

.page .content .hi-sec .container .txt p {
  color: var(--second-color);
  letter-spacing: 0.125rem;
}
.page .content .hi-sec .container .txt h1 {
  color: var(--third-color);
  font-size: 3.125rem;
}
.page .content .hi-sec .container .txt h1::before {
  content: "";
  position: absolute;
  width: 3.75rem;
  height: 0.1875rem;
  bottom: 0;
  left: 0;
  background-color: var(--third-color);
  border-radius: 0.625rem;
}

.page .content .hi-sec .container .txt h2 {
  font-size: 1.0625rem;
  letter-spacing: 0.0625rem;
  font-weight: normal;
  color: var(--text-color);
}
.page .content .hi-sec .container .txt .btns > a:first-of-type {
  margin-right: 0.9375rem;
}

@media (max-width: 61.9375rem) {
  .page .content .hi-sec .container .txt .btns > a:first-of-type {
    display: block;
    margin-bottom: 1.25rem;
  }
}
.page .content .hi-sec .container .txt .btns > a > input {
  padding: 0.625rem 1.25rem;
  outline: none;
  background: var(--text-color);
  color: var(--master-color);
  font-weight: bold;
  letter-spacing: 0.055rem;
  border: 0.0938rem solid var(--master-color);
  transition: calc(var(--transition) * 1.5);
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    var(--master-color) 50%,
    var(--text-color) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  font-size: 0.9375rem;
}
.page .content .hi-sec .container .txt .btns > a > input:hover {
  color: var(--text-color);
  background-position: left bottom;
  border-color: var(--text-color);
}

.page .content .hi-sec .container .img-sec {
  min-width: 31.25rem;
  max-width: 50rem;
  flex: 3;
  z-index: 1;
}
@media (max-width: 61.9375rem) {
  .page .content .hi-sec .container .img-sec {
    min-width: 90%;
  }
}
@media (max-width: 47.9375rem) {
  .page .content .hi-sec .container .img-sec {
    min-width: 120%;
  }
}
/* hi-sec */

.scroll {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  scale: 0.8;
  opacity: 0.8;
}
@media (max-width: 47.9375rem) {
  .scroll {
    position: absolute;
    left: 50%;
    bottom: 1%;
    scale: 0.8;
  }
}
.mouse {
  width: 37px;
  height: 64px;
  border-radius: 60px;
  position: relative;

  background-color: var(--third-color);
}
.mouse::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

/* page-sec */

/* skills-sec */
.skills-sec {
  min-height: 37.5rem;
  /* height: 100vh; */
  min-width: 100vw;
  max-width: 100vw;
  padding: 1.875rem;
  background-image: linear-gradient(
    10deg,
    var(--master-color) 0%,
    var(--hight-contrast) 99%
  );
}

.skills-sec .container {
  margin: auto;
  width: 95%;
}

.skills-sec .container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 25rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(21%2c 13%2c 55%2c 1)'%3e%3c/rect%3e%3cpath d='M65.47 87.18L130.43 124.68L130.43 199.68L65.47 237.18L0.52 199.68L0.52 124.68zM0.52 199.68L65.47 237.18L65.47 312.18L0.52 349.68L-64.43 312.18L-64.43 237.18zM65.47 312.18L130.43 349.68L130.43 424.68L65.47 462.18L0.52 424.68L0.52 349.68zM65.47 537.18L130.43 574.68L130.43 649.68L65.47 687.18L0.52 649.68L0.52 574.68zM130.43 199.68L195.38 237.18L195.38 312.18L130.43 349.68L65.47 312.18L65.47 237.18zM195.38 312.18L260.33 349.68L260.33 424.68L195.38 462.18L130.43 424.68L130.43 349.68zM325.29 312.18L390.24 349.68L390.24 424.68L325.29 462.18L260.33 424.68L260.33 349.68zM390.24 -25.32L455.2 12.18L455.2 87.18L390.24 124.68L325.29 87.18L325.29 12.18zM585.1 87.18L650.06 124.68L650.06 199.68L585.1 237.18L520.15 199.68L520.15 124.68zM585.1 537.18L650.06 574.68L650.06 649.68L585.1 687.18L520.15 649.68L520.15 574.68zM650.06 199.68L715.01 237.18L715.01 312.18L650.06 349.68L585.1 312.18L585.1 237.18zM779.96 -25.32L844.92 12.18L844.92 87.18L779.96 124.68L715.01 87.18L715.01 12.18zM779.96 424.68L844.92 462.18L844.92 537.18L779.96 574.68L715.01 537.18L715.01 462.18zM844.92 537.18L909.87 574.68L909.87 649.68L844.92 687.18L779.96 649.68L779.96 574.68zM974.83 537.18L1039.78 574.68L1039.78 649.68L974.83 687.18L909.87 649.68L909.87 574.68zM1039.78 199.68L1104.73 237.18L1104.73 312.18L1039.78 349.68L974.83 312.18L974.83 237.18zM1104.73 537.18L1169.69 574.68L1169.69 649.68L1104.73 687.18L1039.78 649.68L1039.78 574.68zM1234.64 87.18L1299.59 124.68L1299.59 199.68L1234.64 237.18L1169.69 199.68L1169.69 124.68zM1299.6 -25.32L1364.55 12.18L1364.55 87.18L1299.6 124.68L1234.64 87.18L1234.64 12.18zM1494.46 537.18L1559.41 574.68L1559.41 649.68L1494.46 687.18L1429.5 649.68L1429.5 574.68z' stroke='rgba(204%2c 145%2c 174%2c 0.31)' stroke-width='2'%3e%3c/path%3e%3cpath d='M57.97 87.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.93 124.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.93 199.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.97 237.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-6.98 199.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-6.98 124.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.97 312.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-6.98 349.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-71.93 312.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-71.93 237.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.93 349.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.93 424.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.97 462.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-6.98 424.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.97 537.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.93 574.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.93 649.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.97 687.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-6.98 649.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-6.98 574.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM187.88 237.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM187.88 312.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM252.83 349.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM252.83 424.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM187.88 462.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM317.79 312.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM382.74 349.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM382.74 424.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM317.79 462.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM382.74 -25.32 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM447.7 12.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM447.7 87.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM382.74 124.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM317.79 87.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM317.79 12.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM577.6 87.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.56 124.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.56 199.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM577.6 237.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.65 199.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.65 124.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM577.6 537.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.56 574.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.56 649.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM577.6 687.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.65 649.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.65 574.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.51 237.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.51 312.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.56 349.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM577.6 312.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.46 -25.32 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.42 12.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.42 87.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.46 124.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.51 87.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.51 12.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.46 424.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.42 462.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.42 537.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.46 574.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.51 537.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.51 462.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM902.37 574.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM902.37 649.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.42 687.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.46 649.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM967.33 537.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1032.28 574.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1032.28 649.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM967.33 687.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1032.28 199.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1097.23 237.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1097.23 312.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1032.28 349.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM967.33 312.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM967.33 237.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1097.23 537.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1162.19 574.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1162.19 649.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1097.23 687.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1227.14 87.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1292.09 124.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1292.09 199.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1227.14 237.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1162.19 199.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1162.19 124.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1292.1 -25.32 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1357.05 12.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1357.05 87.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1292.1 124.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1227.14 12.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1486.96 537.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1551.91 574.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1551.91 649.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1486.96 687.18 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1422 649.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1422 574.68 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(204%2c 145%2c 174%2c 0.31)'%3e%3c/path%3e%3cpath d='M11.21 -20.52L54.51 4.48L54.51 54.48L11.21 79.48L-32.09 54.48L-32.09 4.48zM54.51 54.48L97.81 79.48L97.81 129.48L54.51 154.48L11.21 129.48L11.21 79.48zM54.51 204.48L97.81 229.48L97.81 279.48L54.51 304.48L11.21 279.48L11.21 229.48zM97.81 279.48L141.12 304.48L141.12 354.48L97.81 379.48L54.51 354.48L54.51 304.48zM141.12 354.48L184.42 379.48L184.42 429.48L141.12 454.48L97.81 429.48L97.81 379.48zM271.02 129.48L314.33 154.48L314.33 204.48L271.02 229.48L227.72 204.48L227.72 154.48zM314.33 204.48L357.63 229.48L357.63 279.48L314.33 304.48L271.02 279.48L271.02 229.48zM357.63 -20.52L400.93 4.48L400.93 54.48L357.63 79.48L314.33 54.48L314.33 4.48zM357.63 279.48L400.93 304.48L400.93 354.48L357.63 379.48L314.33 354.48L314.33 304.48zM444.24 429.48L487.54 454.48L487.54 504.48L444.24 529.48L400.93 504.48L400.93 454.48zM487.54 504.48L530.84 529.48L530.84 579.48L487.54 604.48L444.24 579.48L444.24 529.48zM747.35 204.48L790.66 229.48L790.66 279.48L747.35 304.48L704.05 279.48L704.05 229.48zM704.05 429.48L747.35 454.48L747.35 504.48L704.05 529.48L660.75 504.48L660.75 454.48zM790.66 129.48L833.96 154.48L833.96 204.48L790.66 229.48L747.35 204.48L747.35 154.48zM920.56 504.48L963.87 529.48L963.87 579.48L920.56 604.48L877.26 579.48L877.26 529.48zM963.87 279.48L1007.17 304.48L1007.17 354.48L963.87 379.48L920.56 354.48L920.56 304.48zM1050.47 -20.52L1093.77 4.48L1093.77 54.48L1050.47 79.48L1007.17 54.48L1007.17 4.48zM1093.77 504.48L1137.08 529.48L1137.08 579.48L1093.77 604.48L1050.47 579.48L1050.47 529.48zM1180.38 54.48L1223.68 79.48L1223.68 129.48L1180.38 154.48L1137.08 129.48L1137.08 79.48zM1137.08 129.48L1180.38 154.48L1180.38 204.48L1137.08 229.48L1093.77 204.48L1093.77 154.48zM1180.38 504.48L1223.68 529.48L1223.68 579.48L1180.38 604.48L1137.08 579.48L1137.08 529.48zM1223.68 -20.52L1266.98 4.48L1266.98 54.48L1223.68 79.48L1180.38 54.48L1180.38 4.48zM1310.29 129.48L1353.59 154.48L1353.59 204.48L1310.29 229.48L1266.98 204.48L1266.98 154.48zM1440.19 204.48L1483.5 229.48L1483.5 279.48L1440.19 304.48L1396.89 279.48L1396.89 229.48zM1396.89 279.48L1440.19 304.48L1440.19 354.48L1396.89 379.48L1353.59 354.48L1353.59 304.48zM1440.19 504.48L1483.5 529.48L1483.5 579.48L1440.19 604.48L1396.89 579.48L1396.89 529.48z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='var(--text-color)'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  opacity: 0.033;
}

.skills-sec .container .skills {
  position: relative;
  gap: 2.5rem;
  transition: var(--transition);
}
@media (max-width: 61.9375rem) {
  .skills-sec .container .skills {
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem 0;
  }
}
.skills-sec .container .skills .image {
  width: 100%;
  max-width: 50%;
}
.skills-sec .container .skills .image svg {
  max-width: 100%;
}

.skills-sec .container .skills .bars {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
@media (max-width: 61.9375rem) {
  .skills-sec .container .skills .image,
  .skills-sec .container .skills .bars {
    max-width: 100%;
  }
  .skills-sec .container .skills .bars {
    gap: 1.75rem;
  }
}
.skills-sec .container .skills .bars .prog {
  width: 62.5rem;
  max-width: 100%;
  height: 2.5rem;
  background: #b4b3b3;
  border-radius: 1.875rem;
  border: 0.125rem solid var(--third-color);
  box-shadow: 0 0 10px #777;
}
.skills-sec .container .skills .bars .prog > span {
  position: relative;
  display: block;
  background-color: var(--master-color);
  height: 100%;
  /* background: linear-gradient(to right, var(--fourth-color),var(--third-color) ); */
  border-radius: 1.875rem;
  transition: calc(var(--transition) * 1.2) ease-in-out;
  /* animation: bar calc(var(--transition) * 2.3) forwards ease-in-out; */
}
.skills-sec .container .skills .bars .prog > span::before {
  content: "";
  position: absolute;
  top: -0.75rem;
  left: calc(100% - 0.9375rem);
  border: 0.375rem solid var(--text-color);
  border-color: var(--text-color) transparent transparent transparent;
}
.skills-sec .container .skills .bars .prog > span span {
  position: absolute;
  top: -2.125rem;
  left: calc(100% - 1.4063rem);
  background: var(--text-color);
  color: var(--master-color);
  padding: 0rem 0.3125rem;
  border-radius: 0.25rem;
}

.skills-sec .container .skills .bars .info {
  top: 50%;
  left: 0.625rem;
  transform: translateY(-50%);
  color: var(--text-color);
  font-weight: bold;
}
/* skills-sec */
/* serveries-sec */
.serveries-sec {
  min-width: 100vw;
  max-width: 100vw;
  background-image: linear-gradient(
    166deg,
    var(--master-color) 0%,
    var(--hight-contrast) 99%
  );

  /* padding-bottom: 6.25rem; */
}

.serveries-sec .container {
  padding: 3.125rem 0;
  margin-inline: auto;
  width: 85%;
}

.serveries-sec .container .services {
  display: grid;
  transition: var(--transition);
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 3.125rem;
  position: relative;
}
.serveries-sec .container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 25rem;
  background-image: url(images/ffflurry.svg);
  opacity: 0.02;
}

.services .box {
  position: relative;
  transition: var(--transition);
  background-color: var(--third-color);
  background: var(--master-color);
  transition: var(--transition);
  counter-increment: services;
  border: 0.0625rem solid var(--text-color);
  /* border-width: 4px;
  border-style: solid; */
  /* border-image: linear-gradient(to bottom, var(--fifth-color), var(--third-color)) 1; */
  cursor: pointer;
  user-select: none;
  border-radius: 0.375rem;
}
.services .box:hover {
  transform: translateY(-0.6875rem) scale(1.01);
}
.services .box:before {
  content: "";
  position: absolute;
  top: -0.1875rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.25rem;
  width: 0%;
  background-color: #d5d5d5;
  transition: var(--transition);
  border-radius: 0.375rem;
}
.services .box:hover:before {
  width: 100%;
}

.services .box i {
  color: var(--text-color);
  width: 100%;
  margin: 1.875rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .box h3 {
  color: var(--text-color);
  text-align: center;
  font-size: 1.5625rem;
  font-weight: bold;
  margin: 1.875rem 0;
}
.services .box .more-details {
  position: relative;
  padding: 0.9375rem 1.25rem;
  text-align: end;
  background-color: #f9f9f9;
  overflow: hidden;
  border-radius: 0.375rem;
}
.services .box .more-details a {
  color: var(--master-color);
  font-weight: 500;
  transition: var(--transition);
}
.services .box:hover .more-details a {
  color: var(--third-color);
  font-size: 1.0625rem;
  /* font-weight: 600; */
}
.services .box .more-details::before {
  background-color: var(--master-color);
  content: "0" counter(services);
  bottom: 50%;
  left: 0;
  transform: translate(-0.405rem, 50%);
  padding: 0.625rem 1.875rem;
  position: absolute;
  color: var(--text-color);
  font-size: 1.875rem;
  font-weight: bolder;
}
.services .box .more-details::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 4.5625rem;
  transform: translateY(50%) skewX(339deg);
  padding: 1.75rem 1.5625rem;
  background-color: #d5d5d5;
  transition: var(--transition);
}
/* serveries-sec */

/* projects-sec */

.projects-sec {
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  background-image: linear-gradient(
    387deg,
    var(--master-color) 0%,
    var(--hight-contrast) 100%
  );

  /* padding-bottom: 6.25rem; */
}

.projects-sec .container {
  padding: 3.125rem 0;
  margin-inline: auto;
  width: 85%;
  position: relative;
}

.projects-sec .container .projects {
  margin-top: 3.125rem;
  padding: 1.25rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  position: relative;
  gap: 2.5rem;
}

@media (min-width: 1190px) {
  .projects-sec .container .projects {
    grid-template-columns: repeat(auto-fill, minmax(23.75rem, 1fr));
  }
  .cardBox {
    min-height: 24.125rem;
    min-width: 400px;
  }
}

/* .projects-sec .container .projects > */
.cardBox {
  height: 20.125rem;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.125rem 0.625rem 0rem,
    rgba(0, 0, 0, 0.5) 0rem 0.125rem 1.5625rem 0rem;
}

@media (max-width: 767px) {
  .cardBox {
    height: 430px;
  }
}

.card {
  position: absolute;
  width: 97%;
  height: 97%;
  background: var(--master-color);
  border-radius: 1.25rem;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--text-color);
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0rem 1.875rem 3.75rem -0.75rem inset,
    rgba(0, 0, 0, 0.5) 0rem 1.125rem 2.25rem -1.125rem inset;
}

.card .h4 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 800;
  pointer-events: none;
  opacity: 0.5;
}
.card .more {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9375rem;
  font-weight: 800;
  pointer-events: none;
  opacity: 0.5;
}

.card .content .h3 {
  font-size: 1.425rem;
  font-weight: 800;
  margin-bottom: 0.625rem;
}

.card .content a {
  width: 100%;
  height: 100%;
}
.card .content a img {
  max-width: 100%;
}
.card .content a > span {
  display: block;
  gap: 3px;
  width: fit-content;
  margin: 3px auto 0;
  color: var(--text-color);
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: var(--transition);
  box-shadow: 7px 5px 56px -14px transparent;
}

.card .content a > span:hover {
  color: var(--second-color);
  border: 1px solid var(--second-color);
  box-shadow: 0 0 30px var(--second-color);
}

.card .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.card:hover .h4,
.card:hover .more {
  opacity: 0;
}

.cardBox::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 250%;
  background: #40e0d0;
  background: -webkit-linear-gradient(
    to right,
    var(--second-color),
    var(--third-color)
  );
  background: linear-gradient(
    to right,
    var(--second-color),
    var(--third-color)
  );
  transform-origin: center;
  animation: glowing_401 5s linear infinite;
}

/* .cardBox:hover::before {
  animation-play-state: paused;
}  */

@keyframes glowing_401 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* projects-sec */

/* Contact-sec*/
.Contact-sec {
  min-width: 100vw;
  max-width: 100vw;
  background-image: linear-gradient(
    157deg,
    var(--master-color) 0%,
    var(--hight-contrast) 99%
  );
  /* padding-bottom: 6.25rem; */
}

.Contact-sec .container {
  padding: 3.125rem 0;
  margin-inline: auto;
  width: 85%;
}

.Contact-sec .container .contact {
  gap: 3.125rem;
  margin-top: 3.75rem;
}
.Contact-sec .container .contact .icon {
  width: 50%;
}
.Contact-sec .container .contact .icon svg {
  max-width: 100%;
}
.Contact-sec .container .contact > form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.625rem;
  position: relative;
  gap: 2.1875rem;
}

@media (max-width: 61.9375rem) {
  .Contact-sec .container .contact {
    flex-direction: column;
    gap: 0;
  }
  .Contact-sec .container .contact,
  .Contact-sec .container .contact > form {
    width: 100%;
  }
  .Contact-sec .container .contact .icon {
    width: 100%;
  }
}

.Contact-sec .container .contact > form .box {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.Contact-sec .container .contact > form .box > input,
.Contact-sec .container .contact > form .box > textarea {
  border: none;
  outline: none;
  color: var(--master-color);
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  letter-spacing: 0.0875rem;
  position: relative;
  z-index: 2;
}
.Contact-sec .container .contact > form .box > textarea {
  height: 10.625rem;
  resize: none;
  width: 100%;
}
.Contact-sec .container .contact > form .box > span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  transition: 0.5s;
  color: var(--text-color);
}
.Contact-sec .container .contact > form .box > textarea ~ span {
  position: absolute;
  top: -20%;
  left: 0;
  padding: 0.625rem 0;
  transition: 0.5s;
  color: var(--text-color);
}
.Contact-sec .container .contact > form .box > i {
  height: 0.1875rem;
  transition: 0.5s;
  border-radius: 0.25rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    45deg,
    var(--fourth-color) 0%,
    var(--third-color) 100%
  );
  border: 0.0625rem solid transparent;
}
.Contact-sec .container .contact > form .box > textarea ~ i {
  height: 0.1875rem;
  transition: 0.5s;
  border-radius: 0.25rem;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  background: linear-gradient(
    45deg,
    var(--fourth-color) 0%,
    var(--third-color) 100%
  );
  cursor: pointer;
  border: 0.0625rem solid transparent;
}
.Contact-sec .container .contact > form .box > input:focus ~ span,
.Contact-sec .container .contact > form .box > input:valid ~ span {
  transform: translateY(-2rem);
  font-size: 0.85rem;
}
.Contact-sec .container .contact > form .box > textarea:focus ~ span,
.Contact-sec .container .contact > form .box > textarea:valid ~ span {
  transform: translateY(0%);
  font-size: 0.95rem;
}
.Contact-sec .container .contact > form .box > input:focus ~ i,
.Contact-sec .container .contact > form .box > input:valid ~ i,
.Contact-sec .container .contact > form .box > textarea:focus ~ i,
.Contact-sec .container .contact > form .box > textarea:valid ~ i {
  box-shadow: inset 0 0 0.625rem rgba(0, 0, 0, 0.25);
  height: 100%;
  border-color: #dddcdc;
}
/* CV-sec*/
.my-CV {
  min-width: 100vw;
  max-width: 100vw;
  background-image: linear-gradient(
    387deg,
    var(--master-color) 0%,
    var(--hight-contrast) 99%
  );
}
.my-CV .container {
  padding: 3.125rem 0;
  margin-inline: auto;
  width: 85%;
}
.my-CV .container .content {
  gap: 3.125rem;
  margin-top: 3.75rem;
  transition: var(--transition);
}

@media (max-width: 61.9375rem) {
  .my-CV .container .content {
    flex-direction: column-reverse;
  }
  .my-CV .container .content .resume {
    min-width: 100%;
  }
}

.my-CV .container .content .resume {
  gap: 2.5rem;
  width: 50%;
  padding: 1.875rem;
}



 .submit-button {
  background-color: #4CAF50; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
}

.submit-button:hover {
  background-color: #45a049; 
}





.my-CV .container .content .resume {
  gap: 2.5rem;
  width: 50%;
  padding: 1.875rem 0.625rem;
}
.my-CV .container .content .resume .more-info {
  text-align: start;
  line-height: 2;
  font-size: 1rem;
}
.my-CV .container .content .resume .more-info h3 {
  letter-spacing: 0.125rem;
  /* position: relative; */
}
.my-CV .container .content .resume .more-info h3 > span {
  letter-spacing: 0.125rem;
  font-size: 1.75rem;
  color: var(--third-color);
}

.my-CV .container .content .resume .more-info p {
  font-size: 1.1875rem;
  width: 70%;
}
.my-CV .container .content .resume .btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1.25rem;
  gap: 1.25rem;
}
.my-CV .container .content .resume .btns button {
  padding: 0.75rem 1.25rem;
  min-width: 6.25rem;
  border-radius: 0.375rem;
  outline: none;
  border: 0.0625rem solid var(--third-color);
  font-size: 1rem;
  font-weight: bolder;
  color: var(--master-color);
  cursor: pointer;
  transition: calc(var(--transition) * 1.5);
  background-image: linear-gradient(
    to right,
    var(--fifth-color) 50%,
    var(--text-color) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
}

.my-CV .container .content .resume .btns button:hover {
  color: var(--text-color);
  background-position: left bottom;
  border-color: var(--text-color);
}
.my-CV .container .content .resume .social-media {
  gap: 1.5625rem;
  scale: 1.2;
  margin-top: 2.5rem;
  max-width: 18.75rem;
}

.my-CV .container .content .resume .social-media > a {
  transition: calc(var(--transition) * 2);
  padding: 0.3125rem;
  border: 0.0625rem solid transparent;
}
.my-CV .container .content .resume .social-media > a:hover {
  border: 0.0625rem solid var(--third-color);
  border-radius: 50%;
}
.my-CV .container .content .resume .social-media > a path,
.my-CV .container .content .resume .social-media > a svg {
  fill: var(--text-color);
  transition: var(--transition);
}
.my-CV .container .content .resume .social-media > a:hover path,
.my-CV .container .content .resume .social-media > a:hover svg {
  fill: var(--third-color);
}

.my-CV .container .content .img-sec {
  max-width: 25rem;
  max-width: 40%;
  z-index: 1;
}

@media (max-width: 61.9375rem) {
  .my-CV .container .content .img-sec {
    min-width: 70%;
  }
}
@media (max-width: 47.9375rem) {
  .my-CV .container .content .img-sec {
    min-width: 90%;
  }
}

.my-CV .container .content .img-sec img {
  max-width: 100%;
  /* aspect-ratio: 1 / 1; */
  border: 0.125rem solid var(--text-color);
  z-index: 100;
  background-image: radial-gradient(
    circle,
    var(var(--master-color)) 0%,
    var(--hight-contrast) 99%
  );
  /* background-image:radial-gradient(circle, rgba(2,16,31,1) 0%, rgba(0,31,255,1) 100%);; */
  overflow: hidden;
  filter: blur(0.125rem) grayscale(35%);
  transition: var(--transition);
  animation: radius calc(var(--transition) * 12.3) ease-in-out alternate-reverse
    infinite both;
  cursor: pointer;
}

.my-CV .container .content .img-sec img:hover {
  filter: blur(0);
  scale: 1.05;
  animation-play-state: paused;
}
.my-CV .container .content .img-sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1.25rem;
  left: 1.25rem;
  /* background-color: var(--second-color); */
  z-index: -1;
  border-radius: 50%;
}
/* CV-sec*/

/* footer */
footer {
  padding: 1.25rem;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  text-align: center;
  border-top: 2px solid var(--text-color);
  background-color: var(--master-color);
}
/* footer */

/* top button */

span[class="top_button"] {
  display: block;
  background-color: var(--fourth-color);
  color: var(--text-color);
  padding: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  display: grid;
  place-content: center;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  position: fixed;
  bottom: 0.3125rem;
  right: 0.3125rem;
  cursor: pointer;
  transition: var(--transition);
  transform: translateX(3.125rem);
}

.show_button {
  display: block;
  background-color: var(--fourth-color);
  color: var(--text-color);
  padding: 0.3125rem;
  width: 2.1875rem;
  height: 2.1875rem;
  display: grid;
  place-content: center;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  position: fixed;
  bottom: 0.3125rem;
  right: 0.3125rem;
  cursor: pointer;
  border: 1px solid var(--text-color);
  transition: var(--transition);
  transform: translateX(0rem);
  background-image: linear-gradient(
    to right,
    var(--text-color) 50%,
    var(--master-color) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  z-index: 999;
}

.show_button > i {
  font-size: 1rem;
  color: var(--text-color);
}

.show_button:hover > i {
  color: var(--master-color);
}

.show_button:hover {
  background-position: left bottom;
}
/* top button */

/* setting sec */

.setting-sec {
  padding: 50px 0;
  position: fixed;
  top: 0;
  left: 0px;
  width: 250px;
  transform: translateX(-255px);
  background-color: var(--third-color);
  height: 100vh;
  z-index: 100;
  border-radius: 6px;
  box-shadow: 0 0 10px var(--text-color);
  transition: var(--transition);
  padding: 15px;
}

.setting-sec.hide-sec {
  transform: translateX(0);
}
.setting-sec.hide-sec > span {
  right: -40px;
}

.setting-sec > span {
  position: absolute;
  top: 20px;
  right: -78px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border: 1px solid var(--text-color);
  transition: var(--transition);
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  aspect-ratio: 1/ 1;
}

/* .setting-sec.hide-sec > span  {
    border-color:var(--master-color);
} */
.setting-sec.hide-sec > span i {
  /* color: var(--master-color); */
  transition: var(--transition);
}

.setting-sec > span:hover {
  transform: rotate(-0.1turn);
}

.setting-sec h3 {
  width: 100%;
  text-align: center;
  color: var(--master-color);
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  user-select: none;
}

.setting-sec .theme-sec {
  margin-top: 20px;
}
.setting-sec .theme-sec .themes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--master-color);
  padding-bottom: 20px;
}

.setting-sec .theme-sec .themes .theme {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  aspect-ratio: 1/ 1;
  cursor: pointer;
  transition: var(--transition);
}

.setting-sec .theme-sec .themes .theme:hover {
  transform: translateY(-5px);
  scale: 1.05;
}

.setting-sec .theme-sec .themes .theme span {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  /* border-radius: 6px; */
  border-radius: 50%;
  border: 3px solid transparent;
  /* box-shadow: 0 0 10px #f3a7a7; */
  /* border: 1px solid var(--third-color2); */
  box-shadow: 0px 0px 0px 0px #888, inset 0 0 5px #eee;
  transition: var(--transition);
}

.setting-sec .theme-sec .themes .theme1 span {
  background: radial-gradient(#cc8fac 10%, #a7c5f1 40%, #03042a 80%);
}

.setting-sec .theme-sec .themes .theme2 span {
  background: radial-gradient(white 40%, black 80%);
}
.setting-sec .theme-sec .themes .theme3 span {
  background: radial-gradient(black 40%, white 60%);
}

.setting-sec .theme-sec .themes .theme.active > span {
  transition: var(--transition);
  border-color: var(--green-color);
  box-shadow: 0 0 5px 1px var(--green-color);
}

.setting-sec .theme-sec .themes .theme p {
  font-size: 16px;
  letter-spacing: 0.2px;
  font-weight: bolder;
  color: var(--master-color);
  transition: var(--transition);
}

@media (max-width: 767px) {
  .setting-sec {
    width: 200px;
  }
  .setting-sec span {
    top: 8.5%;
    left: 265px;
    width: 50px;
    aspect-ratio: 1/ 1;
    scale: 0.7;
  }
  .setting-sec.hide-sec span {
    left: 200px;
  }
  .setting-sec .theme-sec .themes {
    flex-direction: column;
    gap: 10px;
  }
  .setting-sec .theme-sec .themes .theme {
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    flex-direction: row-reverse;
  }
  .setting-sec .theme-sec .themes .theme span {
    width: 90px;
    max-width: 50%;
    height: 90px;
  }
  .setting-sec .theme-sec .themes .theme.active {
    border-color: var(--green-color);
    box-shadow: 0 0 5px 2px var(--green-color);
  }
  .setting-sec .theme-sec .themes .theme p {
    width: 50%;
    font-size: 19px;
    text-align: center;
  }
}

/* setting sec */

/* animation */

@keyframes bar {
  0% {
    width: 0%;
  }
  100% {
    width: attr(data-width);
  }
}
@keyframes radius {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1.875rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes start {
  0% {
    width: 0;
  }
  100% {
    width: 28.125rem;
  }
}

/* animation */
